{% extends 'base.html' %}



{% block title %} Pet Details {% endblock %}

{% block content %}

<h1 class="display-1 mb-5" >{{pet.name}}</h1>




<img src="{{pet.photo_url}}" class="rounded-lg mb-5" >

<div  class="input-group mb-4">
<div class="card">
  <div class="card-header">
   <b> Details</b>
  </div>
  <div class="card-body">
    <p class="card-title"><b>Species : {{pet.species}}</b></p>
    <h5 class="card-title">Age: {{pet.age}}</h5>
    <h5 class="cardtitle"> Notes : {{pet.notes}}</h5>
  </div>
</div>
</div>


<form action="/pet/{{pet.id}}/edit">
    <button type="submit" class="btn-success btn-lg"> Edit</button>
</form>

<form action="/">
    <button type="submit" class="btn-secondary btn-lg"> Go Back</button>
</form>

{% endblock %}