{%  extends 'base.html' %}

{% block title %} Pet Home Page {% endblock %}


{% block content %}

<div class="text-center">
<h1 class="display-1 mb-5">Pets</h1>
</div>




<div class="row" style="width: 1250px;">
  {% for pet in pets %}
  <div class="col-md-4">
    <div class="card mb-4">
      <img src="{{ pet.photo_url }}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ pet.name }}</h5>
        {% if pet.available == True %}
        <p class="card-text">{{ pet.name }} is <b class="text-success">Available</b></p>
        {% else %}
        <p class="card-text">{{ pet.name }} is Not Available</p>
        {% endif %}
        <a href="/pet/{{ pet.id }}" class="btn btn-primary">More Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<form action="/add" method="GET">
  <button class="btn-success btn-lg">Add Pet</button>
</form>

{% endblock %}

  

